[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
selenium = "*"
selenium-wire = "*"
locust = "*"
locust-plugins = "*"
numpy = "*"
kaleido = "*"
mysql-connector-python = "*"
flask-sqlalchemy = "*"
pymysql = "*"
mysql-connector = "*"

[dev-packages]

[requires]
python_version = "3.9"
