[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
selenium = "*"
python-dotenv = "*"
requests = "*"
requests-html = {editable = true, git = "https://github.com/psf/requests-html.git"}
selenium-wire = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
